<section class="no-padding" id="blog">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/city/san-francisco.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                San Francisco
                            </div>
                            <div class="project-name">
                                "East is East, and West is San Francisco." — O. Henry
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/city/austin.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Austin
                            </div>
                            <div class="project-name">
                                “There’s so much music in Austin, and it’s all so different.” Gary Clark
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/city/los-angeles.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Los Angeles
                            </div>
                            <div class="project-name">
                                City of stars
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
