<section class="bg-secondary" id="connect">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-uppercase">Let's</h2>
                <h2 class="section-heading text-uppercase">Connect Locally Together</h2>
                <hr class="light">
                <p class="text-faded-secondary">Sign up to experience exclusive events and activities
                    <br>with the movers and shakers that shape your city.</p>
                <!--<a href="/unlink/facebook" class="btn btn-primary">Unlink Facebook</a>-->
                <a href="" class="btn btn-default btn-xl">Sign Up</a>
            </div>
        </div>
    </div>
</section>
