<section class="bg-primary" id="explore">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-uppercase">Let's</h2>
                <h2 class="section-heading text-uppercase">Explore Destinations Together</h2>
                <hr class="light">
                <p class="text-faded">Discover where you really want to be.
                    <br>Chat with local experts. Ask anything to make your next move more hopeful.</p>
                <div id="enter-tipi" class="show">
                    <a href="/auth/facebook" class="btn btn-default btn-xl">Enter TIPI</a>
                </div>
                <div id="logged-in" class="hide">
                    <p class="tipi-name text-faded"></p>
                    <p class="text-faded">Checkout our <a class="secondary" href="https://www.facebook.com/usetipi">Facebook page</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
